
.block-editor-block-list__block[data-type="my/column"] {

  // Remove WordPress max width on blocks.
  max-width: none;

  // Create grid columns
  // See: @mixin make-grid-columns() in `~bootstrap/scss/mixins/grid-framework`.
  @each $breakpoint in map-keys($grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    // Make full width flexbox columns.

    &.has-col#{$infix} {
      width: 100%;
    }

    @for $i from 1 through $grid-columns {
      &.has-col#{$infix}-#{$i} {
        width: 100%;
      }
    }

    // Above breakpoint
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {

      &.has-col#{$infix} {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
      }

      @for $i from 1 through $grid-columns {
        &.has-col#{$infix}-#{$i} {
          @include make-col( $i, $grid-columns );
        }
      }

      // Order
      @for $i from 0 through $grid-columns {
        &.has-order#{$infix}-#{$i} { order: $i; }
      }

      // Offset
      @for $i from 0 through ($grid-columns - 1) {
        @if not ($infix == "" and $i == 0) { // Avoid emitting useless .offset-0
          &.has-offset#{$infix}-#{$i} {
            @include make-col-offset($i, $grid-columns);
          }
        }
      }
    }
  }
}
