
.block-editor-page .wp-block-my-modal {
  @import "~bootstrap/scss/modal";
  @import "~bootstrap/scss/close";

  .modal {
    display: block;
    position: static;
  }

  .modal-dialog {
    margin-top: 0;
    margin-bottom: 0;
  }
}
