
.wp-block-my-row {
  > .block-editor-inner-blocks {
    // The actual row.
    > .block-editor-block-list__layout {
      display: flex;
      flex-wrap: wrap;
      margin-right: -$block-padding;
      margin-left: -$block-padding;

      @include break-medium() {
        flex-wrap: nowrap;
      }

      // Set full heights on Columns to enable vertical alignment preview
  		> [data-type="my/column"],
  		> [data-type="my/column"] > .editor-block-list__block-edit,
  		> [data-type="my/column"] > .editor-block-list__block-edit > div[data-block],
  		> [data-type="my/column"] > .editor-block-list__block-edit .block-core-columns {
        display: flex;
      	flex-direction: column;
      	flex: 1;
  		}

      > [data-type="my/column"] {
        padding-right: $block-padding;
        padding-left: $block-padding;
        flex-basis: 100%;
        flex-grow: 1;

        @include break-medium() {
          flex-grow: 0;
        }
      }

      > [data-type="my/column"] > .editor-block-list__block-edit {
        margin-left: 0;
        margin-right: 0;
      }

      > [data-type="my/column"] > .editor-block-list__block-edit > div[data-block] {
        margin: 0;
      }
    }
  }
}

/**
 * Add extra padding when the parent block is selected, for easier interaction.
 */

.block-editor-block-list__layout {
  .block-editor-block-list__block[data-type="my/row"],
  .block-editor-block-list__block[data-type="my/column"] {
    &.is-selected,
    &.has-child-selected {
      > .block-editor-block-list__block-edit > [data-block] > div > .block-editor-inner-blocks {
        padding-left: $block-padding;
        padding-right: $block-padding;

      	// Negate this padding for the placeholder.
      	> .components-placeholder {
      		margin: -$block-padding;
      		width: calc(100% + #{$block-padding * 2});
      	}
      }
    }
  }
}
