
.wp-block-my-row {
	> .editor-inner-blocks > .editor-block-list__layout {
    display: flex;
    flex-wrap: nowrap;

    > [data-type="my/column"] {

      // Remove WordPress max width on blocks.
      max-width: none;

      // Create grid columns
      // See: @mixin make-grid-columns() in `~bootstrap/scss/mixins/grid-framework`.
      @each $breakpoint in map-keys($grid-breakpoints) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        // Make full width flexbox columns.

        &.has-col#{$infix} {
          width: 100%;
        }

        @for $i from 1 through $grid-columns {
          &.has-col#{$infix}-#{$i} {
            width: 100%;
          }
        }

        // Above breakpoint
        @include media-breakpoint-up($breakpoint, $grid-breakpoints) {

          &.has-col#{$infix} {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
          }

          @for $i from 1 through $grid-columns {
            &.has-col#{$infix}-#{$i} {
              @include make-col( $i, $grid-columns );
            }
          }

          // Order
          @for $i from 0 through $grid-columns {
            &.has-order#{$infix}-#{$i} { order: $i; }
          }

          // Offset
          @for $i from 0 through ($grid-columns - 1) {
            @if not ($infix == "" and $i == 0) { // Avoid emitting useless .offset-0
              &.has-offset#{$infix}-#{$i} {
                @include make-col-offset($i, $grid-columns);
              }
            }
          }
        }
      }

      > .editor-block-list__block-edit {

				// Zero out margins.
				> [data-block] {
					margin-top: 0;
					margin-bottom: 0;
				}

				// The Columns block is a flex-container, therefore it nullifies margin collapsing.
				// Therefore, blocks inside this will appear to create a double margin.
				// We compensate for this using negative margins.
				> div > .block-core-columns > .editor-inner-blocks {
					margin-top: -$default-block-margin;
					margin-bottom: -$default-block-margin;
				}
			}
    }
	}
}

/**
 * Add extra padding when the parent block is selected, for easier interaction.
 */
.block-editor-block-list__layout .block-editor-block-list__block[data-type="my/row"].is-selected > .block-editor-block-list__block-edit > [data-block] > div > .block-editor-inner-blocks,
.block-editor-block-list__layout .block-editor-block-list__block[data-type="my/row"].has-child-selected > .block-editor-block-list__block-edit > [data-block] > div > .block-editor-inner-blocks {
	padding: 0 $block-padding;
}


/**
 * Add extra padding when the parent block is selected, for easier interaction.
 */
.block-editor-block-list__layout .block-editor-block-list__block[data-type="my/column"].is-selected > .block-editor-block-list__block-edit > [data-block] > div > .block-editor-inner-blocks,
.block-editor-block-list__layout .block-editor-block-list__block[data-type="my/column"].has-child-selected > .block-editor-block-list__block-edit > [data-block] > div > .block-editor-inner-blocks {
	padding: $block-padding;
}
