
.wp-block-my-button {
  .btn {
    @include unset-all();
  }
  @import "~bootstrap/scss/buttons";
}

.wp-block-my-button__inline-link {
  display: inline-block;
  height: auto;
  overflow: visible;
  margin-top: 16px;
}
