
.my-image-control__preview {
  position: relative;
  display: inline-block;

  &:hover .my-image-control__actions {
    display: block;
  }
}

.my-image-control__actions {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
}

.my-image-control__action {
  border-color: transparent;
  background: #23282D;
  color: #eee;
  margin: 0 0 0 5px;
  padding: 4px;
  border-radius: 100%;

  &:hover {
    border-color: transparent;
    background: #191E23;
    color: #00b9eb;
  }
}

.my-image-control__image {
  position: relative;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  background: #eee;
  width: 125px;
  height: 125px;
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    border: none;
  }

  &.landscape img {
    max-height: 100%;
  }

  &.portret img {
    max-width: 100%;
  }
}
