
.my-post-list {
  .components-base-control {
    display: flex;
    margin-bottom: 0;

    .components-base-control__field {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.my-post-control__suggestions-list {
  margin-top: 1em;
}

.my-post-control__search-input {
  width: 100%;
}
