//
// Variables
//

//
// Colors
//

$editor-colors: () !default;
$editor-colors: map-merge($theme-colors, $editor-colors);

//
// Font sizes
//

$editor-font-sizes: () !default;
$editor-font-sizes: map-merge(
  (
    "small":  $font-size-sm,
    "normal": $font-size-base,
    "large":  $font-size-lg,
  ),
  $editor-font-sizes
);

//
// Font weights
//

$editor-font-weights: () !default;
$editor-font-weights: map-merge(
  (
    "lighter": $font-weight-lighter,
    "light":   $font-weight-light,
    "normal":  $font-weight-normal,
    "bold":    $font-weight-bold,
    "bolder":  $font-weight-bolder,
  ),
  $editor-font-weights
);
