
.wp-block-my-container {

  &.has-fluid-container > .block-editor-inner-blocks > .block-editor-block-list__layout {
    @include make-container();
  }

  &.has-fixed-container > .block-editor-inner-blocks > .block-editor-block-list__layout {
    @include make-container();
    @include make-container-max-widths();
  }

  > .block-editor-inner-blocks > .block-editor-block-list__layout .block-editor-block-list__block[data-align="full"] {
    margin-left: 0;
    margin-right: 0;
  }

  > .block-editor-inner-blocks > .block-editor-block-list__layout .wp-block {
    max-width: none;
  }
}
