

.my-blocks-image-control-image {
  &:before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.my-blocks-image__preview {
  position: relative;
  float: left;
  max-width: 150px;
  max-height: 150px;

  img {
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
    background: #eee;
    margin: 0;
    padding: 0;
  }

  &:hover {
    .my-blocks-image__actions {
      display: block;
    }
  }
}

.my-blocks-image__actions {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  padding: 5px;

  .components-button {
    color: #fff;
    background: #333;
    border-radius: 100%;
    margin-left: 5px;
  }
}
